
/** Set page background to light gray **/
.wsu-wrapper-site {
    background-color: #f9f9f9;
}

/** Remove default home/house icon **/
.wsu-navigation-vertical .wsu-menu-collapse:not(.wsu-menu-collapse--style-context)>li:first-child a::before,
.wsu-navigation-vertical .wsu-menu-collapse:not(.wsu-menu-collapse--style-context)>li:first-child a::before {
    display: none;
}

@media screen and (max-width: 1260px) {
    .wsu-header-utility-bar {
        display: none;
    }
}

/** Shrink Header **/
.wsu-header-unit__banner {
    min-height: 120px;
}

.wsu-logo-lockup {
    font-size: 0.9rem;
}

.wsu-navigation-audience:not([class*=-audience--style-]) .wsu-navigation-audience__menu li a:hover {
    text-decoration: underline;
}